<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
<div>
    <form action="/criarPedidoAbono" method="get">
        <table>
            <tr>
              <th>Campo</th>
              <th>Input</th>
            </tr>
            <tr>
              <td>
                <label for="inicio">Data Início</label>
                <input id="inicio" />
              </td>
              <td>
                <label for="fim">Data Fim</label>
                <input id="fim" />
              </td>
              <td>
                <label for="justificativa">Justificativa</label>
                <input id="justificativa" />
              </td>
            </tr>
          </table>
        <button type="submit">Submit</button >
    </form>
</div>
</body>
</html>
